body {
	background: #fefefe;
}

nav {
	min-height: 120px;
	position: fixed!important;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 1000001;
	transition: width .2s;
}
.navbar-nav {
	align-items: center;
}
.nav-item {
	padding-left: 24px;
}
.nav-spacer {
	width: 100%;
}
nav button {
	background: #8add82;
	border: none;
	border-radius: 24px;
	color: white;
	padding: 4px 16px;
}
.bg-niceblue {
	background: #4992d3!important;
}
section {
	max-width: 100vw;
	overflow: hidden;
}
img, canvas {
	max-width: 100%;
}
footer {
	background: #444;
	color: #EEE;
	min-height: 200px;
	padding: 32px 0px;
}
footer a:hover{
	color: #FFF;
	text-decoration: underline;
}
footer p {
	font-size: 12px;
}
.title {
	margin: 1em 0em;
	text-align: center;
}
.social {
	color: #333;
	display: inline-block;
	font-size: 56px;
	padding: 4px 8px;
	text-shadow: -1px -1px 0px #0007, 1px 1px 0px #FFF3;
	transition: .4s;
}
.social:hover {
	color: #EEF;
	text-shadow: 1px 1px 0px #0003, -1px -1px 0px #FFF3, 0px 0px 10px #FFF3;
}
#report {
	background: #E5E3DF;
	min-height: 100vh;
	padding-top: calc(120px/1 + 5vh/1);
	/*transition: .2s;*/
}
#statistics canvas {
	width: 100%!important;
	height: auto!important;
}

#app {
	background: #FFF;
	border-radius: 16px;
	margin: 0px auto;
	padding: 16px;
	width: 420px;
}
#app fieldset {
	padding: 8px;
}
#app fieldset input,
#app fieldset select {
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	border-bottom: 1px solid #333;
	border-radius: 2px;
	display: block;
	margin-bottom: 4px;
	padding: 8px 16px;
	width: 100%;
}
#app fieldset select {
 background: url('../image/assets/select-arrow.png') no-repeat right 8px center;
}
#app input[type='submit'] {
	background: #8add82;
	border: none;
	border-radius: 24px;
	color: white;
	font-size: 16pt;
	padding: 8px 32px;
	min-width: 50%;
}
#app input[type='submit'].load {
	color: #FFF0;
	min-width: 100%;
	transition: 2s;
}
#app input[type='submit'].loading {
	animation: 2s test linear infinite;
	background: repeating-linear-gradient(45deg, #8add82 0px, #8add82 16px, #7ee873 16px, #54994d 32px);
	background-size: 46px 48px;
	color: #FFF0;
	min-width: 100%;
	transition: 2s;
}
@keyframes test {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: -46px 0px;
	}
}
#street_search_result {
	background: #FFFC;
	border: 1px solid #3337;
	border-top: none;
	display: none;
	position: absolute;
}
#street_search_result .result {
	cursor: pointer;
	padding: 4px 16px;
}
#street_search_result .result:hover {
	background: #4992d377;
}
#map {
	height: 360px;
	margin-top: 48px;
	width: 100%;
}

#heart {
	transition: transform 1s cubic-bezier(1, -1, 0, 2);
}

span:hover #heart {
	color: #D11;
	transform: scale(2) rotate(4deg);
}

@media (max-width: 460px) {
	#app {
		border-radius: 0px;
		width: 100%;
	}
}
@media (max-width: 768px) {
	nav {
		min-height: 64px!important;
	}
	#app {
		min-height: calc(100vh/1 - 64px/1 + 5%/1);
	}
}